@import "tailwindcss";

@layer components {
    .carousel-arrow {
        @apply w-7 h-7 z-10 rounded-full flex justify-center items-center absolute top-1/2 transform -translate-y-1/2 text-neutral-950 bg-neutral-600 hover:bg-neutral-500 duration-300 transition-colors; 
    }
}